.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.top-space{
  margin-top: 56px;
}

.comentario{
  /* width: 300px; */
  border: 1px solid rgba(172, 169, 169, 0.43);
  padding: 15px;
  /* margin: 25px;  */
}