body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.align-center {
	text-align: center;
}

.icons {
	font-size: 70px;
}

.large-space {
	margin-top: 70px;
	margin-bottom: 70px;
}

.link {
	text-decoration: none;
}