body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.align-center {
	text-align: center;
}

.icons {
	font-size: 100px;
}

.large-space {
	margin-top: 70px;
	margin-bottom: 70px;
}

.link {
	text-decoration: none;
}

.margin{
	margin: 20px;
}

.bg-header{
	background-color: #102372;
}

.my-nav-item{
	font-weight: 600;
	color: #FFFFFF;
}

.my-nav-brand{
	font-weight: 900;
	color: #FFFFFF;
}

.content{
	position: relative;
}

.circle-btn{
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 100%;
	background-color: #102372;
	font-weight: bolder;
}

.circle-btn:hover{
	background-color: #2F4CC9;
}

.margin-sides{
	margin-left: 20px;
	margin-right: 20px;
}
