body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.align-center {
	margin-left: auto;
	margin-right: auto;
}

.icons {
	font-size: 100px;
}

.large-space {
	margin-top: 70px;
	margin-bottom: 70px;
}

.small-space {
	margin-top: 20px;
	margin-bottom: 20px;
}

.link {
	text-decoration: none;
}

.margin{
	margin: 20px;
}

.bg-header{
	background-color: #102372;
}

.my-nav-item{
	font-weight: 600;
	color: #FFFFFF;
}

.my-nav-brand{
	font-weight: 900;
	color: #FFFFFF;
}

.content{
	position: relative;
}

.circle-btn{
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 100%;
	background-color: #102372;
	font-weight: bolder;
}

.circle-btn:hover{
	background-color: #2F4CC9;
}

.margin-sides{
	margin-left: 20px;
	margin-right: 20px;
}

.map{
	min-width: 10px;
	max-height: 500px;
	max-width: 1000px;
}

html, body, {
	height: 100%;
	margin: 0px;
	padding: 0px
}

.map-space	{
	margin-bottom: 600px;
}

.format	{
	width: 400px;
	height: 200px;
	filter: brightness(89%);
}

.margin-top{
	margin-top: auto;
	margin-bottom: auto;
}

.user-img{
	max-width: 10%;
}